################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestWebApp2/Properties/launchSettings.json
*.suo
/.vs/Testing/DesignTimeBuild/.dtbcache.v2
