<h1 id="tableLabel">To-Do list</h1>

<p>This component demonstrates fetching data from the server and pushing data to server.</p>
<h1>{{(tableMode ? "ToDo list" : "Adding todo" )}}</h1>
<input type="button" value="Добавить" *ngIf="tableMode" class="btn btn-primary mb-3" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
    <tr>
      <td>Текст</td>
      <td>Приоритет</td>
      <td>Исполнитель</td>
      <td>Дедлайн</td>
      <td>Теги</td>
      <td>Статус</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of todos">
      <ng-template [ngIf]="todo?.id != p.id" [ngIfElse]="edit">
        <td>{{p?.text}}</td>
        <td>{{p?.priority}}</td>
        <td>{{p.assignedTo != null ? (p.assignedTo.name + '-' + p.assignedTo.email) : ''}}</td>
        <td>{{p.deadline != null ? moment(p.deadline).format('LL') : ''}}</td>
        <td>{{p.tags != null ? p.tags.join(',') : ''}}</td>
        <td>
          <p [class]="getStatusClassName(p)">{{getStatusName(p)}}</p>
          
        </td>
        <td>
          <button class="btn btn-sm btn-primary ml-3" (click)="editToDo(p)" [disabled]="p.status!==0">Изменить</button>
          <button class="btn btn-sm btn-danger ml-3" (click)="delete(p)">Удалить</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="todo.text" class="form-control" />
  </td>
  <td>
    <input type="number" step="1" max="10" min="1" [(ngModel)]="todo.priority" class="form-control" />
  </td>
  <td>
  </td>
  <td>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="todo.deadline" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar-check" (click)="d.toggle()" type="button">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2-date" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zm3.945 8.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
          </svg>
        </button>
      </div>
    </div>
  </td>
  <td>
    <ngx-tags-input class="form-control input-lg"
                    [removeLastOnBackspace]="removeLastOnBackspace"
                    [maxTags]="3"
                    [(ngModel)]="tags" name="tags"></ngx-tags-input>
  </td>
  <td></td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success ml-3" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning ml-3" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Текст</label>
    <input type="text" [(ngModel)]="todo.text" class="form-control" required />
  </div>
  <div class="form-group">
    <label>Приоритет</label>
    <input type="number" step="1" max="10" min="1" [(ngModel)]="todo.priority" class="form-control" required />
  </div>
  <div class="form-group">
    <label>Дедлайн</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="todo.deadline" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar-check" (click)="d.toggle()" type="button">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2-date" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zm3.945 8.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Теги. Для добавления нажмите Enter</label>
    <ngx-tags-input class="form-control input-lg"
                    [removeLastOnBackspace]="removeLastOnBackspace"
                    [maxTags]="3"
                    [(ngModel)]="tags" name="tags"></ngx-tags-input>
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success ml-3" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning ml-3" />
  </div>
  <div class="mt-2" *ngIf="validationResult && validationResult.isInvalid()">
    <div class="alert alert-danger" role="alert" *ngFor="let error of validationResult.getFailureMessages()">
      {{error}}
    </div>
  </div>
  
</ng-template>
